# ───── FastAPI & Core ─────
fastapi
uvicorn
pydantic
python-dotenv

# ───── Jupyter für Tests ─────
jupyterlab

# ───── Bild-/Video-Modelle ─────
numpy==1.24.4
torch==2.2.0
diffusers==0.25.0
transformers==4.38.0
huggingface_hub==0.23.3
pillow
omegaconf
safetensors



# ───── LoRA / ControlNet / SDXL Support (Optional, aber ready) ─────
accelerate                  # nötig für viele diffusers-pipelines
xformers                    # optional, für RAM-Optimierung
einops                      # genutzt von manchen Modelle



# ───── Audio/Voice (wenn geplant) ─────
scipy               # für Musikgen & Audio
librosa             # für Audiobearbeitung
soundfile           # für Audio-Output


# ───── AnimateDiff / img2vid Support ─────
imageio
imageio-ffmpeg
tqdm
requests