# === BASE URL ===
BASE_URL="https://cdn.leoncdn.dev/ai-core"
IMG2VID_BASE_URL="https://cdn.leoncdn.dev/ai-core/ai-core"

# === TXT2IMG ===
USE_TXT2IMG="on"
TXT2IMG_MODEL="dreamshaper_8"
TXT2IMG_PATH="/workspace/ai-core/models/txt2img/$TXT2IMG_MODEL"
TXT2IMG_MODEL_FILES="absolutereality_v1.8.safetensors deliberate_xl.safetensors dreamshaper_8.safetensors epicrealism_v6.5.safetensors ghostmix_v2.safetensors photon_v2.safetensors realvisxl_v5.safetensors toonyou_v4.safetensors"

# === IMG2VID ===
USE_IMG2VID="on"
IMG2VID_MODEL="WAN2.1"
IMG2VID_PATH="/workspace/ai-core/models/img2vid/$IMG2VID_MODEL"
IMG2VID_MODEL_FILES="\
Wan2.1_VAE.pth \
config.json \
.gitattributes \
README.md \
diffusion_pytorch_model-00001-of-00007.safetensors \
diffusion_pytorch_model-00002-of-00007.safetensors \
diffusion_pytorch_model-00003-of-00007.safetensors \
diffusion_pytorch_model-00004-of-00007.safetensors \
diffusion_pytorch_model-00005-of-00007.safetensors \
diffusion_pytorch_model-00006-of-00007.safetensors \
diffusion_pytorch_model-00007-of-00007.safetensors"






