
JUPYTER=on
FASTAPI=on

# === BASE URL ===
BASE_URL="https://cdn.leoncdn.dev"
IMG2VID_BASE_URL="https://cdn.leoncdn.dev"

# === TXT2IMG ===
USE_TXT2IMG="on"
TXT2IMG_PATH="/workspace/ai-core/models/txt2img"
TXT2IMG_FILENAME="absolutereality_v1.8.safetensors"



# === IMG2VID ===
USE_IMG2VID="on"
IMG2VID_MODEL="WAN2.1"
IMG2VID_PATH="/workspace/ai-core/models/img2vid/${IMG2VID_MODEL}"
IMG2VID_MODEL_FILES="\
Wan2.1_VAE.pth \
config.json \
.gitattributes \
README.md \
diffusion_pytorch_model-00001-of-00007.safetensors \
diffusion_pytorch_model-00002-of-00007.safetensors \
diffusion_pytorch_model-00003-of-00007.safetensors \
diffusion_pytorch_model-00004-of-00007.safetensors \
diffusion_pytorch_model-00005-of-00007.safetensors \
diffusion_pytorch_model-00006-of-00007.safetensors \
diffusion_pytorch_model-00007-of-00007.safetensors"













